<h1> Promoter View </h2>


	<table class="table table-striped">
		<thead>
			<th>Question</th>
			<th>Rate It!</th>
		</thead>

		<tbody>
			<% @questions.each do |question| %>
			<td><%= question.content %></td>
			<td><% @rating = Rating.create(user_id: @user.id, question_id: question.id) %>
			<% form_for(@rating) do |f| %>
			<%= f.radio_button :discuss, true %>
			<%= f.radio_button :discuss, false %>
			<% end %></td>
		</tbody>
	<% end %>
