@import "bootstrap-sprockets";
@import "bootstrap";
/*=require bootstrap*/

html {
  overflow-y: scroll;
  font-family: Sans-Serif;
}


a {
 color: #000000;
 text-decoration: underline; 
 &:hover {
    color: #cc0000 !important;
    background-color: transparent !important;
    text-decoration: underline; 
  }  
}


@media (min-width: 768px) {
	.navbar-fixed-top{
	float: left;
	}
}

.navbar-inverse {
	background-color: #353536 !important;
	padding-left: 0px;
	padding-bottom: 20px;
}

a.navbar-nickname {
	color: #ffffff !important;
}

a.navbar-brand {
	color: #ffd700 !important;
	text-decoration: none; 
}

body {
	padding: 15px;
	background: #ffffff !important;
}

h1 {
	color: #000000 !important;
	font-weight: 500 !important;
}

h4 {
	font-size: 20px !important;
}

h5 {
	color: #cc0000 !important;
}

h6 {
	color: #cc0000 !important;
}

th {
	color: #cc0000 !important;
}

.top-bar-title {
	color: #ffd700 !important; 
	text-decoration: none; 
}

.sidebar-link{
	color: #ffd700 !important;
	text-decoration: none; 
	&:hover {
    	color: #000000 !important;
    	text-decoration: none; 
    }
}

.topbar-link{
	color: #ffd700 !important;
	text-decoration: none; 
 	&:hover {
    	color: #cc0000 !important;
    	background-color: transparent !important;
    	text-decoration: none; 
  	}  
}



@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 55px;
    padding-bottom: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #cc0000;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar{
	margin-right: -21px;
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #A07C1D;
	background-color: #A07C1D;
}

table tr.odd{
	background-color: #ededed !important;
}

table tr.even{
	background-color: #ffffff !important;
}