
/*=require bootstrap*/

html {
  overflow-y: scroll;
}

body {
	padding: 15px;
	background: #ECF2F7 !important;
}

header {
	background-color: #000080 !important;

}

a {
	color: #000000 !important;
}

h2{
	color: #000000 ;
}