<h1>Edit assignment</h1>

<%= render 'form' %>

<br></br>
<%# don't think we need the link to right... (with divider  |  ) <%= link_to 'Show', @assignment %> 
<%= link_to 'Back to assignments', assignments_path %>
