<h1>New assignment</h1> <%#h1 vs h2 gives different size of header font%>

<%= render 'form' %> <%#see _form (partial view?) for creation of new assignment%>

<br></br>
<%= link_to 'Back to assignments', assignments_path %>
