<h1> Questions submitted for assignment </h1>

<br>

	<table class="table table-bordered">

		<thead>
			<th>Question</th>
			<th>Writer</th>
			<th>Number of Upvotes</th>
		</thead>

		<%# we want these questions displayed in (relative) ranked order here already, don't we... %>
		<tbody>
			<% @questions.each do |question| %>
			<tr>
			<td><%= question.content %></td>
			<%# fix below line, obviously %>
			<td><%= question.user.name %></td>
			<td><%= question.ratings.count%> </td>
			<% end %>
		</tr>
		</tbody>

	</table>

	<br><br>

<%= link_to 'Back to Assignments', assignments_path %>
