<%# Admins only %>


<p id="notice"><%= notice %></p>

<br>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<br><br>

<%= link_to 'Back to Assignments', assignments_path %>
