<h1> Student's assignments </h1>

<br>

	<table class="table table-bordered">

		<thead>
			<th>Assignment Title</th>
			<th>Assignment Content</th>
			<th>Question Submitted</th>
		</thead>

		<tbody>
			<% @questions.each do |question| %>
			<tr>
			<td><%=question.assignment.title%></td>
			<td><%=question.assignment.description%></td>
			<td><%= question.content %></td>
			
			<% end %>
		</tr>
		</tbody>

	</table>

	<br><br>

<%= link_to 'Back to users', users_path %>