<head>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
	<script type="text/javascript" src="js/jquery.plugin.js"></script> 
	<script type="text/javascript" src="js/jquery.countdown.js"></script>

</head>


<h1>Inactive Phase</h1>

<br>
<br>



<body>
	You don't currently have a task to complete! Please return during the next phase! 
<br>
<br>









</body>