<h1>Inactive Phase</h1>

<br>
<br>

<body>
	You don't currently have a task to complete! Please return during the next phase! 
<br>
<br>
	(Note: we should probably insert a timer here, for convenience!)
</body>