<h1>Inactive Phase</h1>

<br>
<br>



<body>
	You don't currently have a task to complete! 
<br>

<div>
<% if current_user.group.writer?%>
	<div>
		The writer phase is already complete.
	</div>
	<%else%>
		<div>
		The Promoter phase begins on <%=@assignment.writer_due%> <%#should be formatted better%>
		</div>
<%end%>
</div>


<br>









</body>