<h1> Promoter View </h2>

	<table class="table table-bordered">
		<thead>
			<th>Question</th>
			<th>Rating</th>
		</thead>

		<tbody>
			<% @questions.each do |question| %>
			<td><%= question.content %></td>
			<td>
				<% @rating = Rating.create(user_id: @user.id, question_id: question.id) %>
				<%= radio_button_tag :discuss, true %> Discuss</p>
				<%= radio_button_tag :discuss, false %> Pass</p>
			</td>

		</tbody>
	
	<% end %>



<%#ignore the stuff below... I think the stuff below is going to be how to do it 
but 'discuss' isn't a field of question so it's erroring right now
we need to figure out how to access the discuss field of @rating%>


				<%#= form_for(question) do |f| %>
				<%# @rating = Rating.create(user_id: @user.id, question_id: question.id) %>
            	<p> <%#= f.radio_button :discuss, true %>Discuss </p>
            	<p> <%#= f.radio_button :discuss, false %>Pass </p>
            	<p> <%#= f.submit "Save" %> </p>
            	<%#end%>