 <h1>(Writer view)</h1>

<%# will contain own question to create/edit%>

<%# note: should only display the current user's question %>


<%# 

need some sort of if statement...

if question exists for Writer
	render show
else 
	render new
end


%>




<p id="notice"><%= notice %></p>
  <%= @question.content %>
<p>
  <strong>Content:</strong>

</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back to question index', questions_path %>
<br>
<br>
<br>