 <h1>(Writer view)</h1>

<%# will contain own question to create/edit%>

<%# note: should only display the current user's question %>


<%= if Question.exists?(user_id: current_user.id)
	link_to 'Edit', edit_question_path(@question)
	else
	link_to 'New', new_question_path 
	end%><br>




		<%#= link_to 'Edit', edit_question_path(@question) %> 
		<%= link_to 'Back to question index', questions_path %>
		<br>
		<br>
		<br>
