<h1> Comments for Submission </h1>

<br>

<%= @question.content%>
<br><br>

<%if @ratings.exists?%>

	<table class="table table-bordered">

		<thead>
			<th style="width: 17%">Discuss</th>
			<th style="width: 64%">Comment</th>
			<th style="width: 19%">Promoter</th>
		</thead>

		<tbody>
			<% @ratings.each do |rating| %>
			<tr>
				<% if rating.discuss?%>
					<td>Discuss</td>
				<%else%>
					<td>Don't Discuss</td>
				<%end%>

				<td><%= rating.comment %></td>
				<td><%= rating.user.name %></td>
			</tr>
			<% end %>
		</tbody>

	</table>
<%else%>
<h5> No comments exist for this submission!</h5>
<%end%>

	<br><br>

<%= link_to 'Back to Submissions List', {:controller => "assignments", :action => "qlist", :assignment => @assignment.id} %>
