<%# this page is for Writer's only %>


<h1>New question</h1>

<%= render 'form' %> <%#see _form (partial view?) for creation of new question%>

<br></br>
<%= link_to 'Back to question index', questions_path %>